body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensures no scroll bars appear */
}

header {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    padding: 0; 
}

.title-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will prevent stretching. Adjust to 'cover' if you want no white spaces */
    z-index: 1;
}

.container {
    text-align: center;
    margin-top: 50px; /* Adds space below the image */
}

.box-row, .box-column {
    display: flex;
    justify-content: center;
    gap: 100px; /* Adjust the gap between boxes if necessary */
    margin-bottom: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.box.square {
    width: 150px;
    height: 150px;
}

.box.rectangle {
    width: 300px;
    height: 100px;
    flex-direction: row; /* Keeps images and text horizontally aligned */
}

.box img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropbtn {
    position: absolute;
    right: 20px;
    top: 50%; /* Center vertically */
    transform: translateY(-400%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 50%; /* Ensures the button is perfectly round */
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s, color 0.3s;
}

.dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 1); /* Solid white when hovered */
}
